
<div>
<p> In this course, we will embark on an exploration of central topics in multivariate statistics. 
  As the class is intended for advanced Bachelor's or early Master's students, it is likely that you have heard about or studied several of these topics before - however, my aim is to provide a fresh and more fundamental perspective on these concepts, fostering a deeper understanding and encouraging you to learn how to approach multivariate statistics from different angles.    </p>

  Specifically, we will focus on the two following perspectives that may be used, sometimes in combination, to frame all statistical methods covered in this course:
  <ul>
    <li>Geometric, i.e. based on Linear Algebra</li>
    <li>Probabilistic, i.e. based on Probability Theory</li>
  </ul>
  <h3>Topics covered in this course:</h3>
  <ol>
    <li>Basics of probability theory</li>
    <li>Basics of linear algebra</li>
    <li>Multivariate Data Types and Descriptive Statistics</li>
    <li>Multivariate Distributions</li>
    <li>Distance and Similarity Measures</li>
    <li>Supervised Learning</li>
      <ol>
        <li>Multivariate Regression</li>
        <li>Classification Methods</li>
      </ol>
    <li>Unsupervised Learning</li>
    <ol>
      <li>Clustering</li>
      <li>Dimension Reduction: a Motivation</li>
      <li>Principal Component Analysis (PCA)</li>
      <li>Discriminant analysis</li>
      <li>Multidimensional Scaling (MDS)</li>
    </ol>
    <li>Applications and Case studies in R</li>
  </ol>
The goal is that after completing this course, you will have 
<ul>
  <li>developed a solid framework with which to approach the comprehension of statistical methods that are new to you</li>
  <li>understood the purpose of employing probabilistic methods in statistical modelling - specifically when, how, and why this is necessary or beneficial.</li>
</ul>
</div>